* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 14px;
  background: #fff;
  color: #333;
  text-shadow: 1px 1px 1px #fff;
  overflow-x: hidden;
}
#header {
  position: relative;
  margin: 40px auto;
  width: 980px;
  height: 176px;
  background-image: url(../images/header.png);
  background-repeat: no-repeat;
}
a {
  color: #555;
  text-decoration: none;
}
a:hover {
  color: #222;
}
p {
  padding: 5px 0px;
}
.wrapper {
  width: 960px;
  margin: 20px auto;
}
.clear {
  clear: both;
}
#footer {
  position: relative;
  margin: 20px auto;
  width: 980px;
  height: 424px;
  background-image: url(../images/footer.png);
  background-repeat: no-repeat;
}
.footer {
  text-align: center;
  width: 100%;
  padding: 20px 0px;
  clear: both;
  margin-top: 30px;
}
.footer a {
  margin: 0px 20px;
}
/* Slider Style */
.pxs_container {
  width: 100%;
  height: 500px;
  position: relative;
  overflow: hidden;
}
.pxs_bg div {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 7680px; /*1264px window width times number of images*/
  height: 500px;
  background-repeat: repeat;
  background-position: top left;
  background-color: transparent;
}
.pxs_bg .pxs_bg1 {
  background-image: url(../images/back.png);
  background-position: bottom left;
  background-repeat: no-repeat;
  /*left negative 1/4 of ww*/
}
.pxs_bg .pxs_bg2 {
  background-image: url(../images/middle.png);
  background-position: bottom left;
  background-repeat: no-repeat;
  /*left negative 1/2 of ww*/
}
.pxs_bg .pxs_bg3 {
  background-image: url(../images/front.png);
  background-position: bottom left;
  background-repeat: no-repeat;
  /*left negative 1/2 of ww*/
}
.pxs_waggis_wrapper {
  width: 396px;
  height: 349px;
  position: relative;
  margin: 300px auto auto;
}
.waggis-right {
  position: relative;
  background-image: url(../images/waggis-right.png);
  background-position: left;
  width: 200px;
  height: 200px;
  margin: 300px auto;
}
.waggis-left {
  position: relative;
  background-image: url(../images/waggis-left.png);
  background-position: 0px 0px;
  width: 200px;
  height: 200px;
  margin: 300px auto;
}

#pxs_container {
  width: 960px;
  margin: 20px auto;
}

.pxs_slider_wrapper {
  display: none;
}
.pxs_container ul {
  margin: 0px;
  margin-top: 50px;
  padding: 0px;
  list-style: none;
}
ul.pxs_slider {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 1px;
}
ul.pxs_slider li {
  float: left;
  position: relative;
}
#thumb_wrap {
  display: block;
  position: relative;
  margin: 0px auto 0px auto;
  width: 514px;
  height: 1px;
}

#thumb {
  display: block;
  position: relative;
  padding: 7px;
  width: 500px;
  height: 1px;
  background-image: url(../images/paper_thumb.png);
  opacity: 0;
}
#close {
  position: absolute;
  cursor: pointer;
  /* right: -17px;
  top: -15px; */
  top: 15px;
  right: 0;
  width: 41px;
  height: 39px;
  background-image: url(../images/closeNew.png);
}
ul.pxs_thumbnails {
  height: 35px;
  position: absolute;
  top: 320px;
  left: 50%;
}
ul.pxs_thumbnails li {
  position: absolute;
  display: block;
}
ul.pxs_thumbnails li img {
  border: 5px solid #ffffff;
  -moz-box-shadow: 1px 1px 7px #555;
  -webkit-box-shadow: 1px 1px 7px #555;
  box-shadow: 1px 1px 7px #555;
  cursor: pointer;
  display: block;
  opacity: 0.7;
}
ul.pxs_thumbnails li.selected img {
  opacity: 1;
  display: block;
}
.pxs_navigation span {
  position: absolute;
  width: 47px;
  height: 38px;
  top: 240px;
  opacity: 0.9;
  cursor: pointer;
}
.pxs_navigation span:hover {
  opacity: 1;
}
.pxs_navigation span.pxs_prev {
  background: url(../images/prevNew.png) no-repeat;
}
.pxs_navigation span.pxs_next {
  background: url(../images/nextNew.png) no-repeat;
}
.pxs_loading {
  color: #fff;
  font-size: 20px;
  padding: 15px 15px 15px 50px;
  position: absolute;
  background: #333 url(../images/ajax-loader.gif) no-repeat 10px 50%;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  opacity: 0.7;
  width: 180px;
  position: absolute;
  top: 150px;
  left: 50%;
  margin-left: -90px;
}

.raeppli {
  background-image: url(../images/raepli.png);
  cursor: pointer;
}
#laterne {
  position: absolute;
  left: 210px;
  top: 100px;
  width: 45px;
  height: 64px;
}

#dino {
  position: absolute;
  left: 421px;
  top: 281px;
  width: 45px;
  height: 64px;
}
#koenigin {
  position: absolute;
  left: 735px;
  top: 348px;
  width: 45px;
  height: 64px;
}
#munsterturm {
  position: absolute;
  left: 1080px;
  top: 139px;
  width: 45px;
  height: 64px;
}
#blaser {
  position: absolute;
  left: 840px;
  top: 253px;
  width: 45px;
  height: 64px;
}
#elefant {
  position: absolute;
  left: 1216px;
  top: 96px;
  width: 45px;
  height: 64px;
}
#fahre {
  position: absolute;
  left: 1266px;
  top: 383px;
  width: 45px;
  height: 64px;
}
#wasserrad {
  position: absolute;
  left: 2144px;
  top: 272px;
  width: 45px;
  height: 64px;
}
#frosch {
  position: absolute;
  left: 2452px;
  top: 254px;
  width: 45px;
  height: 64px;
}
#brunnen {
  position: absolute;
  left: 2313px;
  top: 270px;
  width: 45px;
  height: 64px;
}
#haus {
  position: absolute;
  left: 2547px;
  top: 336px;
  width: 45px;
  height: 64px;
}
#schonauer {
  position: absolute;
  left: 1933px;
  top: 92px;
  width: 45px;
  height: 64px;
}
#harlekin {
  position: absolute;
  left: 2590px;
  top: 173px;
  width: 45px;
  height: 64px;
}
#schiff {
  position: absolute;
  left: 1594px;
  top: 390px;
  width: 45px;
  height: 64px;
}
#container {
  position: absolute;
  left: 2694px;
  top: 300px;
  width: 45px;
  height: 64px;
}
#pferd {
  position: absolute;
  left: 2887px;
  top: 362px;
  width: 45px;
  height: 64px;
}
#nilpferd {
  position: absolute;
  left: 3020px;
  top: 290px;
  width: 45px;
  height: 64px;
}

.newsWrap {
  display: none;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 500px;
}

.news {
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
  width: 780px;
  height: 420px;
  margin: 20px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.75);
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}
